/* This file is version controlled! */
/* Ensure that if you make changes that they are updated here: */
/* https://github.com/WBOR-91-1-FM/wbor-customization/blob/main/azuracast-global.css */

/* Import Inter font to match wbor.org styling */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body.page-minimal {
    background-size: 0 !important;
}

body {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.025rem;
}

.card-title {
    display: none;
}

.card-subtitle {
    font-weight: 600;
}