/* Import Inter font to match wbor.org styling */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.025rem;
}

body {
    color: #EEEEEE;
}

svg {
    color: #EEEEEE;
    transition: color 0.125s ease;
}

svg:hover {
    color: rgb(233, 0, 0);
    transition: color 0.125s ease;
}

/* Set root default font size that rem is based on */
:root {
    --bs-root-font-size: 16px;
}

/* Stream Player: display as a centered flex container */
.radio-player-widget {
    display: flex;
    /* Bring play button vertically in line with rest of player */
    background: #232526;
    border-radius: 0.5rem;
    padding: 6px;
    align-items: center;
    /* Not necessary but reduces flexbox size */
}

/* Stream Player */
.now-playing-main {
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
    margin-right: 0.666rem;
    overflow: hidden;
}

.now-playing-main div {
    max-width: 100%;
    margin-left: 0rem;
    padding-right: 0rem;
}

/* Stream Player: Hide the volume control and stream selector (in the case we ever get more than one mount point) */
.radio-control-volume,
.radio-control-select-stream {
    display: none !important;
}

/* Stream Player: standardize album art as square and fitting container */
.now-playing-art {
    width: 85px;
    height: 85px;
    overflow: hidden;
    pointer-events: none;
    /* Disable art lightbox */
    padding-right: 0rem !important;
    /* Necessary since there is a default padding */
}

.now-playing-art img {
    aspect-ratio: 1 / 1;
    object-fit: cover !important;
    width: 100% !important;
    border-radius: 0.5rem;
}

.now-playing-art a.album-art {
    display: inline-block;
    height: 85px;
    width: 85px;
}

/* Stream Player: play button tweaks */
.radio-player-widget .radio-controls .radio-control-play-button {
    margin-right: 0rem;
    /* Override default of .25 */
}

.btn {
    --bs-btn-border-width: none;
    /* Disable outline surrounding button element when clicking */
}

.radio-controls .icon {
    font-size: 3.125rem;
    /* Increase size */
}

.now-playing-title {
    font-weight: bolder;
}

@media (min-width: 422px) {
    .now-playing-main::before {
        content: "";
        width: 0.66rem;
        height: 0.66rem;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        box-shadow: 0rem 0rem 0.5rem #F00, 0rem 0rem 0.5rem #F00, 0rem 0rem 0.5rem #F00;
        animation: pulsate 2.5s ease-in-out infinite;
        
    }
    
    .now-playing-main div {
        margin-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

#station-history .song .date-played {
    display: none;
}

@media (min-width: 378px) {
    #station-history .song .date-played {
        display: flex !important;
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.33;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.33;
    }
}

.now-playing-details {
    max-width: 78vw;
    /* Making compatible even with the original iPhone resolution width */
}

h4 {
    font-size: 1rem !important;
    /* now-playing-title */
}

h5 {
    font-size: 0.9rem !important;
    /* now-playing-artist */
}

/* Recently Played: hide play order numbers */
.order {
    display: none !important
}

/* Recently Played: disable clicking artwork links, standardize display */
.album-art {
    pointer-events: none;
}

.album_art {
    aspect-ratio: 1 / 1;
    object-fit: cover !important;
    border-radius: 0.5rem !important;
}

/* Recently Played: handle overflow */
.name {
    overflow: hidden !important;
    white-space: nowrap !important;
    width: 100% !important;
}

.now-playing-title:hover,
.now-playing-artist:hover {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

strong,
span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Recently Played: song title */
strong {
    font-size: 1rem;
}

/* Recently Played: song artist */
span {
    font-size: 0.9rem;
}

/* Recently Played: "# minutes ago" */
div.song:nth-child(n)>small:nth-child(n) {
    color: #A8A8A8 !important;
    font-size: .8rem;
}


/* --------- IFRAME EMBEDS --------- */


/* Stream Player Embed */
#station-nowplaying {
    display: flex;
    /* Shrink width of embed to real width of its content */
    justify-content: center;
    /* Center the embedded player in the center of its container */
}

/* Recently Played Songs Embed */
#song_history {
    display: flex;
    /* Shrink width of embed to real width of its content */
    justify-content: center;
    /* Center the embedded player in the center of its container */
}

#station-history {
    max-width: 100%;
    /* Contain content within container without overflow */
}