@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* TO-DO: 
   * fix slight vertical misalignment of text and album art (bottom of icons jut down too much)
   * switch positions of <> and week | day on calendar page
   * remove week | day when mobile media q switches display to list view on mobile
       * with this, make the date on aligned left to top of table and <> aligned right
*/

/* Calendar Colors */

.category-ambient,
.category-experimental {
  background-color: #d6b1b1 !important;
}

.category-blues,
.category-country,
.category-folk {
  background-color: #a38282 !important;
}

.category-classical,
.category-jazz {
  background-color: #3a6474 !important;
}

.category-dance,
.category-electronic {
  background-color: #809499 !important;
}

.category-hip-hop,
.category-rnb {
  background-color: #b37e5b !important;
}

.category-metal,
.category-punk,
.category-rock {
  background-color: #4c807b !important;
}

.category-music,
.category-pop,
.category-regional {
  background-color: #cc5858 !important;
}

.category-news {
  background-color: #2e2f63 !important;
}

.category-talk {
  background-color: #c0abc0 !important;
}



/* wbor.org Styling */

body.public {
  color: #EEE;
  background: #0E1111;
}

body {
  font-family: 'Inter', sans-serif !important;
  letter-spacing: 0.025rem !important;
  font-weight: 300 !important;
  /* Match WBOR font */
}

a {
  color: #BADAFF;
}

a:hover {
  color: #7599FF;
}

.view-page .head nav>ul>li>a {
  text-decoration: underline;
  text-transform: lowercase;
  /* Decorate urls to match */
}

div.head:nth-child(1) > div:nth-child(1) > nav:nth-child(4) a::before {
  content: "(";
}

div.head:nth-child(1) > div:nth-child(1) > nav:nth-child(4) a::after {
  content: ")";
}

.show-time,
.spin-time {
  color: #A8A8A8 !important;
  /* Match other text */
}

.public-spins .spin-text .artist,
.public-spins .spin-text .release {
  color: inherit;
  /* Override default red artist and release title color with sitewide */
}

.playlist.spins .spin-text .release::before,
.public-spins .spin-text .release::before,
.public-spins .spin-text .parenthesis {
  color: #A8A8A8;
  /* Match secondary text color "from" and "(Record label info)" */
}



/* Modify Spinitron Defaults */

.home {
  color: inherit;
  /* Make "WBOR 91.1 FM" title default text color (white) instead of url color */
}

.footer-container,
.social-share,
.image {
  display: none;
  /* Disable Spinitron default footer
     Disable social share menu
     Disable show and profile images */
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  /* Override default padding between section headers ("Coming up," "Recent")
     "On air" and "Just ended" are handled individually below */
}

div.head:nth-child(1) {
  text-align: center;
  /* Center header section */
}

div.head:nth-child(1)>div:nth-child(1) {
  flex-direction: column;
  display: flex;
  /* Allow for reordering the header stack of elements */
}

.station-title {
  order: 1;
  /* "WBOR 91.1 FM" */
}

.station-slogan {
  order: 2;
  /* (We don't display one, but if we did, it should go here) */
}

div.head:nth-child(1)>div:nth-child(1)>nav:nth-child(4) {
  order: 3;
  /* Calendar and website url below station name */
}

.view-page .head nav>ul>li:not(:first-child)::before {
  content: "- ";
  /* Seperator between "calendar" and "wbor.org" */
}

.station-description {
  order: 4;
  margin-top: 1em !important;
}

.ark-play-button {
  display: none;
  /* Hide ark play button in list of recent shows at bottom of homepage */
}



/* Show Info & Display on Different Pages */

.show-schedule {
  list-style: none;
  /* On show pages: remove bullet point before "Every week on {DAY}..." */
}

.persona-data {
  list-style: none;
  margin: 0 0 0 0em;
  /* On persona pages: remove bullet point before personal details and make alignment not inset */
}

div.description:empty {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  /* If there's no description, remove margins */
}

.description {
  margin-top: 0.5rem !important;
  /* On now-playing, playlist, and show pages: add spacing between show title, genre, and DJ and its description
     Applied to description as opposed to .dj-name since there may be a show with no description, and if there
     isn't a description there isn't a need to pad below (since it is already handled by container padding) */
}

.timeslot,
.show-categoty,
.dj-name,
.fc-content {
  font-weight: 400;
}

.artist {
  font-weight: 500;
}

.current-playlist {
  margin-top: 1.5rem;
  /* Provide the margin if it DOES exists since we removed it from below the description on the
     homepage "on-air" */
}

.episode {
  margin-top: 0.5rem;
  /* No need to handle whether it is empty because if it isn't provided it won't exist */
}

.show-block.onair > h4,
.playlist-block.onair > h4,
.playlist-block.justended > h4 {
  margin-bottom: 0.666rem !important;
  /* Create seperation so "On air" and "Just ended" doesn't blend into the show title/info block */
}

table.table-bordered.table-narrow {
  margin: 0;
  /* Table of upcoming and recent shows already has built in padding/margin */
}

.show-block.onair > h4,
.playlist-block.onair > h4 {
  text-shadow: 0rem 0.25rem 1.5rem #FF0000;
  background-color: rgba(255,0,0,0.161);
  border-color: #A80000;
  border-style: solid;
  border-width: 0.07rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.333rem;
  width: fit-content;
  font-family: 'Courier New', monospace;
  text-transform: uppercase;
  /* Fun "On air" shadow and box */
}

.show-block.onair,
.playlist-block.onair,
.playlist-block.justended,
.head.show,
.head.playlist,
.coming-shows,
.recent-playlists {
  background: #171717;
  padding: 18px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  /* Add sub-background and round it between sections in addition to padding and spacing
     .show-block, .playlist-block, .coming-shows, and .recent-playlists are the homepage
     .head.playlist is the playlist page, .show the show page
     Unfortunately spins are not a subelement of the playlist title/desc on playlist and show pages */
}

.show-block.onair > .head.show,
.show-block.onair > .head.playlist,
.playlist-block.onair > .head.show,
.playlist-block.onair > .head.playlist,
.playlist-block.justended > .head.show,
.playlist-block.justended > .head.playlist {
  background: initial;
  padding: initial;
  border-radius: initial;
  margin-bottom: initial;
  /* Prevent the .head.show and .head.playlist from the previous code from applying under
     .show-block and .playlist-block since they are also nested within them. Accomplishes
     by a reset of the styling to their initial values */
}

.recent-playlists .table.table-bordered.table-narrow tbody tr td:nth-child(2) {
  display: none;
  /* Remove the blank Ark player button cell to prevent it from creating extra spacing */
}



/* Playlist Block */

.table-striped>tbody:nth-child(1) {
  background: #333435;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* Add background to the table body, padding, and round corners */
}

.table-striped tr:nth-child(2n+1) {
  background-color: inherit;
  /* Continuing the work from above:
     Override default alternating spin background color changes (and make uniform
     across the board) */
}

table {
  border-collapse: separate;
  border-spacing: 0 .5em;
  /* Add spacing between spins */
}

.spin-icons ul {
  margin-top: 5px;
  /* Give spacing between Apple Music/Spotify buttons and line above */
}

[id^="sp-"]>td:nth-child(3)>div:nth-child(3)>ul:nth-child(2)>li:nth-child(2) {
  display: none;
  /* Remove Amazon button from between Apple Music & Spotify */
}

.table-bordered td,
.table-bordered th {
  border-top: 0px solid #A8A8A8;
  border-bottom: 0px solid #A8A8A8;
  /* Remove dividing lines between spins */
}

.table-striped {
  margin: 0;
  /* Override default */
  display: flex;
  justify-content: center;
  /* Center whole list of spins and make span actual width no full bleed */
}

.playlist.spins .spin-time,
.public-spins .spin-time {
  width: 0rem;
  /* Override default width making width actual width of time (instead of fixed width) */
}

body.public .table td {
  vertical-align: middle;
  /* Align spin time to center of album art vertically */
  padding-left: .6em;
  padding-right: .6em;
  /* Add more spacing between table items than default (0.3em) */
}

.playlist.spins .active,
.playlist.spins .table-striped tr.active,
.public-spins .active,
.public-spins .table-striped tr.active {
  background-color: inherit;
  /* Disable default highlighting when clicking timestamp of a spin */
}

.playlist.spins .table-striped tr.active .spin-art,
.public-spins .table-striped tr.active .spin-art {
  background: rgba(255, 245, 157, 0.21);
  /* Background album art of spin */
}

.playlist.spins .table-striped tr.active .spin-time,
.public-spins .table-striped tr.active .spin-time {
  background: rgba(255, 245, 157, 0.21);
  border-radius: 0.5rem 0 0 0.5rem;
  /* (Continue from above) left side */
}

.playlist.spins .table-striped tr.active .spin-text,
.public-spins .table-striped tr.active .spin-text {
  background: rgba(255, 245, 157, 0.21);
  border-radius: 0 0.5rem 0.5rem 0;
  /* (Continue from above) right side */
}

tr[id^="sp-"] td.spin-time {
  text-align: center;
  /* Align the spin time center horizontally within cell */
}

.playlist.spins .spin-art .spin-art-container,
.public-spins .spin-art .spin-art-container {
  border: 0;
  width: 5rem;
  height: 5rem;
  /* Remove border and make art larger */
  background: #EEE;
  border-radius: 0.5rem;
  /* Rounding only visible if no image sitting above it */
  /* Add default background for icon to sit on (in case of no art) */
}

.playlist.spins .spin-art img,
.public-spins .spin-art img {
  border-radius: 0.5rem;
  /* Round corners of images (since rounding container doesn't work) */
}

.spin-player {
  border-radius: 0.5rem;
  /* Match art corner rounding since spin-player sits above image */
}

.spin-player.active {
  background: hsla(0, 0%, 100%, .6);
  /* Don't remove background while buffering */
}

.spin-player.active.playing {
  display: flex;
  /* Fix issue where pause icon isn't vertically aligned in middle */
  background: hsla(0, 0%, 100%, .6);
  /* Add back frosted overlay while playing */
  transition: .3s ease;
  /* Fade out background when done playing */
}

@media (max-width: 560px) {
  .parenthesis {
    display: none;
  }
  /* Hide detailed info to fit better on small screens */
}



/* Show Page */
.infpager {
  display: none;
  /* Not sure what this was but it was adding padding above the list of past show playlists */
}



/* DJ Persona Page */

.playlist-list .list-item {
  border-bottom: none;
  /* Disable white seperating line between recent show dates */
}

.playlist-list .toggle button {
  display: none;
  /* Disable dropdown button for recent show info */
}

.head.persona {
  margin-bottom: 1em;
  /* Add margin below DJ bio & related info */
}

.year,
.ark-play-button-box {
  display: none !important;
  /* Hide year in date in list of previous playlists on DJ profile pages */
  /* Hide ark play button as it is not displayed majority of time */
}

.playlist-list .datetime {
  min-width: fit-content;
  /* Remove unnecessary gaps in spacing  */
}

.playlist-list .datetime .day {
  min-width: 2.5em;
}

.playlist-list .datetime .time {
  padding-right: 1em;
}

@media (max-width: 560px) {
  .playlist-list .show {
    white-space: nowrap;
    max-width: 165px;
    overflow: clip;
    text-overflow: ellipsis
  }
  /* Keep past playlists all on one line on mobile */
}



/* Calendar Page */

.spin-cal {
  margin-top: 2rem;
}

.spin-cal .fc-event.spin-cal-pl,
.spin-cal .fc-event.spin-cal-show {
  background-color: #afafaf;
  border-color: #0E1111;
}

.spin-cal__datepicker,
.spin_cal__highlight,
.fc-state-disabled,
.fc-listWeek-button,
.fc-month-button,
.fc-clear,
.fc-event-dot {
  display: none !important;
}

.fc-agendaDay-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* Fix right corners after removing month */
}

.fc-agendaWeek-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /* Fix left corners after removing month */
}

.fc th {
  border-width: 0;
  /* Allows week between new years to display without linebreak due to high # of chars */
}

.fc-list-item:hover td {
  background-color: inherit !important;
  /* On mobile screens, Spinitron doesn't show the full calendar or day view
     but instead list fiew. Turn off hover color which matches the text color,
     making it unreadable */
}

.fc-unthemed .fc-list-heading td {
  background: #323334;
  /* Background color for date header in cal list view on mobile */
}

@media (max-width: 560px) {
  .spin-cal .fc-left,
  .spin-cal .fc-right {
    flex-basis: 50%;
  }
  /* Override default of 100% which allows left/right button and week/day to
     sit on the same line */
}



/* Ark Player */

.ark-player-feedback,
.ark-player__volume-control,
.ark-player__mode-hint {
  display: none;
  /* Hide link to Spinitron forum and volume control */
}

.ark-player {
  margin-bottom: 1em;
  /* Add spacing below to match spacing in rest of site */
  display: flex
  /* Centers player, for some reason */
}

#ark-player {
  margin-left: auto;
  margin-right: auto;
  /* Center it */
  border-radius: 0.5rem;
  /* Round corners */
}

.ark-player__date .select-css,
.ark-player__time .select-css {
  background: #EEE;
  color: #0E1111;
  border-radius: 0.5rem;
  /* Match rest of site styling */
}

.ark-player__picker .ark-player__date .select-css[name="date"],
.ark-player__picker .ark-player__time .select-css[name="hours"],
.ark-player__picker .ark-player__time .select-css[name="minutes"] {
  width: fit-content;
  /* Otherwise, sometimes "12AM" or similar will be clipped */
}